

.Temperature-max{
    opacity: 0.6;
    margin-left: 5px;
}

.Temperature-min{
    opacity: 0.6;
    margin-left: 5px;

}

.Animated{
    margin-top: 30px;
    display: block;
    font-size: 15px;
    text-align: center;
    color: rgb(2, 41, 51);
    border: 1px solid rgba(255, 255, 0, 0.799);
    border-radius: 9px;
    
}